.Home {
  display: flex;

  background-color: #e8e9fa;
}

.content {
  margin   : .5rem .5rem .5rem .25rem;
  padding  : 1rem;
  flex-grow: 1;

  background-color: #fcfcfc;
  border-radius   : .8em;
}

.loadingScreen {
  width : 100dvw;
  height: 100dvh;

  display      : grid;
  place-content: center;
}

.loader {
  width        : 7rem;
  height       : 7rem;
  border-radius: 50%;
  display      : inline-block;
  position     : relative;
  border       : 8px solid;
  border-color : var(--light-blue) var(--light-blue) transparent transparent;
  box-sizing   : border-box;
  animation    : rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content         : '';
  box-sizing      : border-box;
  position        : absolute;
  left            : 0;
  right           : 0;
  top             : 0;
  bottom          : 0;
  margin          : auto;
  border          : 8px solid;
  border-color    : transparent transparent var(--pink) var(--pink);
  width           : 3rem;
  height          : 3rem;
  border-radius   : 50%;
  box-sizing      : border-box;
  animation       : rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width       : 5rem;
  height      : 5rem;
  border-color: var(--dark-blue) var(--dark-blue) transparent transparent;
  animation   : rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}