:root {
  font-family: system-ui, Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme    : light dark; */
  background-color: #fdfdfd;

  font-synthesis         : none;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-blue : #64c2db;
  --dark-blue  : #7476ed;
  --light-green: #75DB67;
  --dark-green : #46843E;
  --pink       : #e56f8c;
  --dark-pink  : #99495D;
  --font-color : #3a3b7b;
  --red        : #d44545;
  --dark-red   : #872D2D;
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}